*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.spring{
	/*横幅いらなかったらしいw*/
	width: 100%;
	height: 200px;
	background-image: url(img/box1.jpg);
	background-position: center;
	background-size: cover;
}
.summer{
	width: 100%;
	height: 200px;
	background-image: url(img/box2.jpg);
	background-position: center;
	background-size: cover;
}
.autumn{
	width: 100%;
	height: 200px;
	background-image: url(img/box3.jpg);
	background-position: center;
	background-size: cover;
}
.winter{
	width: 100%;
	height: 200px;
	background-image: url(img/box4.jpg);
	background-position: center;
	background-size: cover;
}